  
.form-container {
  margin: 100px auto;
  width: 1000px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: 30px;
  height: 550px;
  display: grid;
  grid-template-columns: 1.5fr 1.5fr;
}


.form-content-left {
  
  background: linear-gradient(#b304df,#d04cf1);
  border-radius: 30px 0 0 30px;
  position: relative;
}

.form-img {
  width: 80%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.form-content-right {
  border-radius: 0 30px 30px 0;
  position: relative;
  background: linear-gradient(90deg, rgb(250, 248, 248) 0%, rgb(250, 248, 248) 0%);
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form h1 {
  font-size: 1rem;
  text-align: left;
  width: 80%;
  margin-bottom: 1rem;
  color:#d04cf1;

}

.form-inputs {
  margin-bottom: 0.5rem;
  width: 80%;
}

.form-inputs p {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  color: #f00e0e;
}

.form-input {
  display: block;
  padding-left: 10px;
  outline-width: thin;
  border-radius: 18px;
  height: 40px;
  width: 100%;
  border-color: #d04cf1;
  ;
}

.form-input::placeholder {
  color: #e4d3d3;
  font-size: 10px;
}

.form-input-btn {
  width: 30%;
  height: 30px;
  margin-top: 15px;
  margin-bottom: 30px;
  border-radius: 20px;
  background: linear-gradient(#b304df,#d04cf1);
  outline: none;
  border: none;
  color: #fff;
  font-size: 1.5rem;

}

#login-welcome{
  background: linear-gradient(#b304df,#d04cf1);
  margin-top: 1vh;
  font-weight: 700;
  font-size: 25px;
  text-align: center;
  width: 55%;
  height: 6%;
  border: 1px transparent;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  color: white;
}

.form-gender{
  display: flex;
  flex-direction: column;
}